<div class="login-container">
  <md-card>
    <md-card-title>
      <!--<md-card-title-text>-->
      <span class="md-headline">כניסה למערכת</span>
      <span class="md-subhead">Large</span>
    </md-card-title>

    <md-card-content>

      <div layout="column" class="md-inline-form">
        <form>
          <table style="width: 100%" cellspacing="0">
            <tr>
              <td>
                <md-input type="text" mdInput placeholder="משתמש" dividerColor="red" style="width: 100%"></md-input>
              </td>
            </tr>
            <tr>
              <td>
                <md-input type="password" mdInput placeholder="סיסמא" dividerColor="red" style="width: 100%"></md-input>
              </td>
            </tr>
          </table>
        </form>
      </div>

    </md-card-content>

    <md-card-actions layout="row" layout-align="end center">

      <button md-button>Action 1</button>
      <button md-button>Action 2</button>

    </md-card-actions>
  </md-card>
</div>



